table,tr,td,th {

border:1px solid black;


}

td,th { text-align: center;}


table { 
    width: 50%;
    margin: 0 auto;
    background-color:aquamarine; 
    text-decoration: underline;}

img {

width: 50%;

}